.home{
  width: 100%;
  height: 100%;
}

.carousel-top{
  width: auto;
  max-height: 100%;
  overflow: hidden;
}


.carousel-slide{ 
  height: 250px;
  width: 250px;
  // z-index: -1;
  padding-bottom: 20px;
  align-items: center;
  overflow: hidden;
}

.buffer{
  width: 100%;
  height: 20px;
  background-color: #E8DAB2;
}

.home-bottom {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  height: 100%;
  font-size: 2.3em;
  text-align: center;
  z-index: -1;
  background-color: transparent;
  display: grid;
  place-items: center;
  // overflow: hidden;
}

.bottom-textbox{
  width: 90%;
  height: 100%;
  color: #4F6D7A; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaeacb;
  border-radius: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.705);
  transition: all 0.4s ease-in-out;
  &:hover {
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.705);
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #DD6E42;
  z-index: 3;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.carousel-content_1 {
  position: absolute;
  bottom: 100%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content_2 {
  position: absolute;
  bottom: 10%;
  left: 95%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content_3 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.info-box{
  width: 100%;
  padding: 30px;
}

.info-title{
  text-decoration: underline;
  color: #4F6D7A;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 800px) {
  .home-bottom {
    font-size: 100%;
  }

  // .body {

  // }
}