// .home {
//   wid
// }

.carousel{
  background-size: cover;
  // position: relative;
  overflow: hidden;
  width: 100vh;
  z-index: 0;
  height: 500px;
}

.carousel slide{ 
  height: 100%;
  width: 100%;
  // z-index: -1;
  padding-bottom: 20px;
  align-items: center;
  overflow: hidden;
}

.home-mid {
  width: 100%;
  height: 700px;
  font-size: 50px;
  text-align: center;
  z-index: -1;
  background-color: white;
  // position: absolute; 
}


.buffer{
  width: 100%;
  height: 5px;
  background-color: #aca8a7;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #DD6E42;
  // // margin-bottom: -50px;
  // margin-top: auto;
  z-index: 3;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}