.main-nav-container {
	position:relative;
	height: 80px;
}

.main-nav {
	position: fixed;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	display: flex;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: #E8DAB2;
	// color: #EAEAEA;
	width: 100vw;
	height: 80px;
	// min-width: 500px;
	margin: 0 auto;
	box-shadow: 0px 5px 5px #4F6D7A;
	z-index: 3;
}

.main-nav > a {
	height: 100%;
	display: flex;
	// justify-content: center;
}
.navbar-logo {
	margin-left: 20px;
	transition: all 0.5s ease-in-out;
	&:hover {
		transform: scale(0.95);
	}
}

.nav-button {
	// text-decoration: none;
	// color: rgb(44, 44, 44);
	// border-radius: 10px;
	// border-bottom: 2px solid gray;
	// border-right: 2px solid gray;
	// padding: 5px;
	// margin: 10px;
	// background-color: #E8DAB2;

	// &:hover {
	// 	background-color: rgb(192, 228, 228);
	// }
	// &:active {
	// 	background-color: rgb(158, 197, 197);
	// 	position: relative;
	// 	top: 2px;
	// }
	text-decoration: none;
	background-color: transparent;
  	border: none;
	outline: none;
	color: #4F6D7A;
	font-weight: bold;
	height: 80px;
	padding: 17px;
	padding-top: 31px;
	padding-bottom: 31px;

	&:hover {
		background-color: #4F6D7A;
		color: #E8DAB2;
	}

	&:active {
		background-color: #436472;
		color: #E8DAB2;
	}
}

.nav-button-clicked {
	text-decoration: none;
	background-color: #4F6D7A;
  	border: none;
	color: #EAEAEA;
	font-weight: bold;
	height: 80px;
	padding: 17px;
	padding-top: 31px;
	padding-bottom: 31px;

	&:hover {
		color: #d3d3d3;
		text-decoration: none;
	}

	&:active {
		text-decoration: none;
	}
}

.nav-user-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user-auth {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a.nav-buttons{
	text-decoration: none;
}

.nav-buttons {
	background-color: transparent;
  	border: none;
	outline: none;
	color: #4F6D7A;
	font-weight: bold;
	height: 80px;
	padding: 17px;
	padding-top: 30px; 


	&:hover {
		background-color: #4F6D7A;
		color: #E8DAB2;
	}

	&:active {
		background-color: #436472;
		color: #E8DAB2;
	}
}

.nav-user-info {
	.nav-buttons {
		outline: none;
	}
}

.nav-divider {
	position: inherit;
	background-color: #4F6D7A;
	width: 1px;
	height: 80px;
	z-index: 4;
}

.logout-button {
	background-color: #C0D6DF;
	border: none;
	border-radius: 10px;
	color: #4F6D7A;
	font-weight: bold;
	padding: 10px 20px;
	margin-left: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;  
	cursor: pointer;
	transition: all 0.25s ease-in-out;

	&:hover {
		background-color: #4F6D7A;
		color: #C0D6DF;
	}

	&:active {
		background-color: #3a535e;
		margin-top:5px;
	}
}

.nav-user-info > p {
	color: #3a535e;
	font-weight: bold;
	margin-right: 17px;
	text-shadow: 1px 1px 4px #EAEAEA;
}

#login {
	padding-right: 22px;
	// padding-right: 10px;
}

.dropdown {
	height: 80px;
	width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&:hover {
		background-color: #4F6D7A;

		.dropdown-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	#dropdown {

		.avatar-container {
			.user-nav-avatar {
				border-radius: 50%;
				max-width: 50px;
			}
		}
	}

	.dropdown-content {
		display: none;
		position: absolute;
		min-width: 161px;
		right: 0px;
		top: 80px;

		.dropdown-content-item {
			padding: 15px;
			background-color: #E8DAB2;
			font-size: 24px;
			color: #4F6D7A;
			text-decoration: none;
			border: 1px solid #4F6D7A;
			border-top: none;

			&:hover {
				background-color: #4F6D7A;

				.dropdown-content-item {
					background-color: #4F6D7A;
					color: #E8DAB2;
					font-weight: bolder;
				}
			}
			
			.dropdown-content-item {
				padding: 0;
				border: none;
			}
		}
	}
}