
.accepted-tagalong-item{
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 10px;

  .my-tagalongs-button {
    outline: none;
  }

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 1em;
  }
}

.my-tagalongs-button{
    color: #4f6d7a;
    border: 2px solid #4f6d7a;
    margin-top: 7px;

    &:active {
        position: relative;
        top: 2px;
        box-shadow: 1px 1px 6px white;
  }
}

.accepted-tagalongs-list{
  height:650px;
  overflow: scroll;
  padding: 5px;
  padding-top:15px;
}

.my-tagalongs-completed-label {
  padding-top: 15px;
  padding-left: 1em;
  border-top: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {

    .accepted-tagalong-item{
        span {
            font-size: 0.8em;
        }
    }
    .my-tagalongs-completed-label {
      font-size: 0.8em;
      padding-left: 0.2em;
    }
}