
.accepted-tagalong-item{
  padding-top: 5px;
  padding-bottom: 20px;
}

.my-tagalongs-button{
  padding:5px;
  border-radius: 5px;
}


.my-tagalongs-button:hover{
  background-color: #E8DAB2;
}

.accepted-tagalongs-list{
  height:650px;
  overflow: scroll;
  padding: 5px;
}