
.accepted-tagalong-item{
  padding-top: 5px;
  padding-bottom: 20px;
}

.accepted-tagalong-item {
  .my-tagalongs-button {
    outline: none;
  }
}

.my-tagalongs-button{
    color: #4f6d7a;
    border: 2px solid #4f6d7a;
    margin-right: 1px;

    &:active {
        position: relative;
        top: 2px;
        box-shadow: 1px 1px 6px white;
  }
}

.accepted-tagalongs-list{
  height:650px;
  overflow: scroll;
  padding: 5px;
}

.my-tagalongs-completed-label {
  font-weight: bold;
}