.user-profile {
    display: flex;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .user-profile-left {
        display: flex;
        color: white;
        flex-direction: column;
        background-color: #4F6D7A;
        width: 30vh;
        padding: 20px;

        h1 {
            font-size: 24px;
            font-weight: bolder;
        }

        b {
            text-decoration: underline;
        }
    }

    .user-profile-right {
        color: #4F6D7A;
        background: #C0D6DF;
        width: 60vh;
        padding: 20px;
	    // box-shadow: inset 0px 0px 10px black;
    }
}