.user-achievement-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h1 {
        align-content: center;
        font-weight: bolder;
        border-bottom: 1px solid #ffffff;
        margin-top: 10px;
        padding-bottom: 10px;
        padding-left: 1em;
        margin-bottom: 10px;
    }

    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p {
        font-weight: bold;
    }

    h3 {
        // font-weight: lighter;
    }

    .user-achievement-style {
        padding: 10px;
        margin-bottom: 5px;
        border: 2px solid #4F6D7A;
        border-radius: 20px;
        background: #C0D6DF;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #b6ced8;
        }

        .selected-badge {
            max-width: 50px;
        }

        .not-earned {
            max-width: 50px;
            opacity: 0.3;
        }
    }

    .user-achievement-badge {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 5px;
        border: 2px solid #4F6D7A;
        border-radius: 20px;
        background: #C0D6DF;
        transition: all 0.3s ease-in-out;

        h4 {
            padding-left: 1em;
        }

        &:hover {
            background-color: #b6ced8;
        }

        .selected-badge {
            max-width: 50px;
        }

        .not-earned {
            max-width: 50px;
            opacity: 0.3;
        }
    }
}

@media screen and (max-width: 800px) {
    .user-achievement-list {

        h1 {
            padding-left: 0.2em;
        }
       
    }

}