.resource-main {
    margin: 1%;
    padding: 1%; 
    width: 100%;
    max-width: 1500px;
    height: 100%;
    color: #4f6d7a;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-radius: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.resource-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f6d7a;
    background-color: #EAEAEA;
    border-radius: 22px;
    margin: 1%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    box-shadow: 5px 5px 0px #DD6E42;
    transition: all 0.8s ease-in-out;
    &:hover {
      box-shadow: 13px 13px 0px #DD6E42;
    }
}

.resources-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}



.info-para-r {
    padding-top: 2%;
    font-size: 1.3em;
    line-height: 1.6em;
    margin-left: 2%;
}

.resource-title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    transition: all 0.3s ease-in-out;
    &:hover {
        font-size: 2.1em;
    }
}

.resources-img {
    border-radius: 22px;
    width: 300px;
    height: 300px;
    transition: all 0.3s ease-in-out;
    &:hover {
        box-shadow: 5px 5px 2px black;
    }
}

@media screen and (max-width: 800px) {
    .resources-info {
        display: flex;
        flex-direction: column;

        a {
            padding: 5%
        }
    }

    .info-para-r {
    padding: 5%;
    font-size: 16px;
    }

    .resource-main {
        padding: 5%;
        margin: 5%;
    }

    .resources-img {
        width: 150px;
        height: 150px;
    }

    .resource-box {
        margin: 5%;
    }
    
    .resource-title {
        margin: 5%;
    }
}