.what_main {
    margin: 1%;
    padding: 1%; 
    width: 100%;
    max-width: 1500px;
    height: 100%;
    color: #4f6d7a;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border-radius: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.what-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f6d7a;
    background-color: #EAEAEA;
    border-radius: 22px;
    margin: 1%;
    padding: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    box-shadow: 5px 5px 0px #DD6E42;
    transition: all 0.8s ease-in-out;
    &:hover {
      box-shadow: 13px 13px 0px #DD6E42;
    }
}

.question-title {
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 2px 2px 2px #C0D6DF;

}

.quote {
    font-size: 26px;
    margin-top: 2%;
    font-style: italic;
}

.info-para {
    font-size: 1.3em;
    line-height: 1.6em;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

@media screen and (max-width: 800px) {
    .question-title {
        padding: 5%;
        text-align: center;
        
    }

    .info-para {
        font-size: 1em;
        padding-left: 5%;
        padding-right: 5%;
    }

    .quote { 
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }

    .what_main {
        padding: 5%;
        margin: 5%;
    }
}